.body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
    padding: 0;
}

.working {
    color: white;

}

.in-need {
    color: white;

}

h1 {
    font-size: 50px;
    color: black;

}

P {
    color: black
}

.let-help {
    color: white;
}

.full-width img {
    width: 100%;
}

.link-button {

    background-color: orangered;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 600;
    color: white;

}

.flexible-container {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

}

.amount {
    height: 80px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px lightyellow;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: bisque;
    font-weight: 700;

}

.margin-top {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px lightblue;
    background-color: rgb(180, 237, 180);
    margin-left: 40%;
    margin-right: 40%;

}

#food {
    height: 250px;
    width: 220px;
    margin: 40px;
    padding: 40px;
    border-top: 20px;
    box-shadow: 5px 5px lightskyblue;
    background-color: burlywood;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;

}

#shelter {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 40px;
    box-shadow: 5px 5px lightslategrey;
    background-color: darkkhaki;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
}

#education {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 40px;
    box-shadow: 5px 5px lightpink;
    background-color: lightgreen;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;

}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 5%;

}

.donate-today {
    text-align: center;

}

.donate-plan {
    text-align: center;
}

.lives-depend {
    display: flex;
    padding: 40px;

}

.half-width {
    width: 50%;
    padding-left: 20px;
    margin-bottom: 100px;
}

.half-width img {
    width: 100%;
}

.get-updates {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 5px 5px lightgray;
    background-color: rgb(180, 237, 180);
    margin-left: 40%;
    margin-right: 40%;

}

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 700;
    box-shadow: 20px 20px 20px 20px lightgray;
    background-color: rgb(237, 167, 167);

}