.body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
    padding: 0;

}



.working {
    color: white;

}

.in-need {
    color: white;

}

h1 {
    font-size: 50px;
    color: black;

}

P {
    color: black
}

.let-help {
    color: white;
}

.full-width img {
    width: 100%;
}

.link-button {

    background-color: orangered;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 600;
    color: white;





}


.flexible-container {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;


}

.amount {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px;
    border: 2px solid red;
    border-radius: 50px 20px
}

#food {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px;
    background-color: burlywood;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
}

#shelter {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px;
    background-color: darkkhaki;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
}

#education {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px;
    background-color: lightgreen;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;

}





.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;

}




.donate-today {
    text-align: center;

}

.donate-plan {
    text-align: center;
}

.lives-depend {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 20px;
    margin-bottom: 100px;
}

.half-width img {
    width: 100%;
}






footer {
    text-align: center;
}